.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  margin-top: -150px;
}

.card {
  background: $card-primary-background;
  padding: 22px 32px;
  border-radius: 5px;

  &.card-secondary {
    background: $card-secondary-background;
    color: $white;
  }

  .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 16px;
    }
  }

  h1 {
    margin-top: 14px;
    font-size: 36px;
    font-weight: normal;
    line-height: 54px;
  }
}