// Color pallets

$white: #FFFFFF;

$gray-200: #E5E5E5;

$green-200: #12a454;
$green-300: #49AA26;
$green-700: #2D4A22;

$red-500: #e83f5b;

$blue-100: #969cb3;

// Components styles

$header-background: $green-700;

$card-primary-background: $white;
$card-secondary-background: $green-300;

$main-background: $gray-200;